@font-face {
    font-family: 'pn_bold';
    src: url('../assets/converted fonts/ProximaNovaA-Bold.eot');
    src: url('../assets/converted fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/converted fonts/ProximaNovaA-Bold.woff') format('woff'),
         url('../assets/converted fonts/ProximaNovaA-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pn';
    src: url('../assets/converted fonts/ProximaNovaA-Black.eot');
    src: url('../assets/converted fonts/ProximaNovaA-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/converted fonts/ProximaNovaA-Black.woff') format('woff'),
         url('../assets/converted fonts/ProximaNovaA-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}