$primary_blue: #1b1d94;
$pna_black: 'proxima nova';
$pna_bold: 'proxima nova';
$pna_condensedlight:'proxima nova';
$pna_condensedthin: 'proxima nova';
$pna_extracondensedbold: 'proxima nova';
$pna_extracondensedlight: 'proxima nova';
$pna_extrabold: 'proxima nova';
$pna_light: 'proxima nova';
$pna_regular: 'proxima nova';
$pna_black: 'proxima nova';
$pna_bold: 'proxima nova';



