$primary_blue: #1b1d94;
$dark_grey: #696969;

$icomoon-font-path: "fonts" !default;
$icon-melcorporate-gifts: "\e900";
$icon-melemail: "\e901";
$icon-melfacebook: "\e902";
$icon-melfranchise: "\e903";
$icon-melinstagram-path1: "\e904";
$icon-melinstagram-path2: "\e905";
$icon-mellocator: "\e906";
$icon-melpackage: "\e907";
$icon-melphone: "\e908";
$icon-melpinterest: "\e909";
$icon-melsearch: "\e90a";
$icon-melShape: "\e90b";
$icon-melshopping-basket: "\e90c";
$icon-meltwitter: "\e90d";




