@import 'variables';
@import 'mixins';
@import 'typography';
@import 'buttons';


#topHeader {
	margin-top: 10px;
	font-family: pn_bold;
		ul {
			li {
				a {
			color: darkgrey;
			font-size: 15px;
			font-weight: bold;
			padding: 5px;
			display: inline-block;
			}
		}
	}
		

		p {
			display: inline-block;
			font-weight: bold;
		}

		img {
			display: inline-block;
		}

		.icon-melshopping-basket{
			font-size: 20px;
			color: lightblue;
		}

}

#midHeader {
	margin-bottom: 15px;
	p {
		font-family: melissa;
		display: inline-block;
	}
	img {
		display: inline-block;
	}

	.icon-melphone {
		color: grey;
		font-size: 30px;
	}
}


.title-bar {
	background-color: $primary_blue;

}


.top-bar {
	padding: 0px;
	background-color: $primary_blue;
	text-align: center;

	ul {
		background-color: $primary_blue;
		li {
			a {
				background-color: $primary_blue;
				font-family: pn_bold;
				font-size: 15px;
				color: white;
			}
		}
	}
}


.greeting {
	float: right;
	font-size: 15px;

	p {
		padding-right: 10px;
	}

	img {
		padding-right: 2px;
	}
}

.delivery_contact {
	text-align: center;
	display: inline-block;
	color: grey;

	img {
		margin-bottom: 30px;
		margin-right: 10px;
	}
}

.seperator {
	width: 25px;
	height: 1px;
	border-top: 1px solid grey;
	display: inline-block;
	margin-bottom: 4px;
	margin-left: 5px;
	margin-right: 5px;
}

.no-padding {
	padding: 0px;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}



#treatYourself {
	background-image: url(../assets/header-image.jpg);
	background-repeat: no-repeat;
	// width: 100% !important;
	height: 600px;
	margin-bottom: 10px;
}

.row {
	text-align: center;
}


.whiteWrapper {
	background-color: white;
	text-align: center;
	margin-top: 200px;
	padding: 10px;

	h1 {
		font-family: pn_bold;
		color: grey;
		display: inline-block;
	}

	h2 {
		// font-family: pn_bold;
		color: $primary_blue;
	}


	p {
		font-family: pn;
		color: grey;
		display: inline-block;
	}
	
}

#topSeller {
	text-align: center;
	// padding-bottom: 110px;
	margin-bottom: 50px;

	h4 {
		font-size: 13px;
		font-family: pn;
		color: grey;
		display: inline-block;
	}

	h1 {
		// font-family: pna;
		color: $primary_blue;
	}

	p {
		font-family: pn_bold;
		color: grey;
		display: inline-block;
		margin-bottom: 5px;
	}

	a {
		font-family: pn;
		color: white;
	}

	.product {
	position: relative;
	margin-bottom: 50px;
	font-family: pn_bold;
	display: inline-block;

		.product_image {
		position: relative;
		margin-bottom: 10px;
		display: inline-block;

			a {
				float: right;
				display: inline-block;
			}
		}

		.product_details {
			p {
				font-weight: bold;
				text-align: left;
			}
		}
	}



	.view_all {

		a {
		font-family: pn;
		color: $primary_blue;
		}
	}
}



#hampers{
	margin-bottom: 60px;

	.row {
		.row {
			position: relative;
		}
	}

	.adspace1 {
	/*background-image: url(../assets/adspace1.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	max-height: 454px;
	position: relative;


		h4 {
		font-family: pn_bold;
		color: white;
		position: absolute;
		right: 10px;
		bottom: 10px;
		}
	}


	.adspace3 {
		/*background-image: url(../assets/adspace2.jpg);
		background-repeat: no-repeat;
		background-size: cover;*/
		position: relative;

		h4 {

			font-family: pn_bold;
		}

		p {
			font-family: pn;
		}

		a {
			font-family: pn_bold;
		}

		.row {
			text-align: left;
			// position: relative;
		}

		img {
			// position: absolute;	
			// display: inline-block;
			float: left;
			// position: relative;	
		}
		

		.gift_container {
			postion: absolute;
			float: right;
			

			// @include breakpoint(medium only) {

			// 	h4 {

			// 	}

			h4 {
				color: $primary_blue;
				font-family: pn_bold;
				position: relative;
			}

			p {
				font-family: pn;
				position: relative;	
				display: inline-block;
			}

			a {
				font-family: pn_bold;
				position: relative;
			}

			.icon-melcorporate-gifts{
				display: inline-block;
				color: lightblue;
				margin-right: 5px;
			}
		}
	}

	.adspace2 {
	/*	background-image: url(../assets/adspace3.jpg);
		background-repeat: no-repeat;
		background-size: cover;*/
		// max-height: 668px;
		position: relative;

		h4 {
			color: white;
			font-family: pn_bold;
			position: absolute;
			right: 375px;
			bottom: 450px;
		}

		p {
			color: white;
			font-family: pn;
			position: absolute;
			right: 400px;
			bottom: 400px;
		}
	}

	.adspace4 {
	/*	background-image: url(../assets/adspace4.jpg);
		background-repeat: no-repeat;
		background-size: cover;*/
		max-height: 454px;
		position: relative;

		h4 {
			color: white;
			font-family: pn_bold;
			position: absolute;
			right: 400px;
			bottom: 50px;
		}

		p {
			color: white;
			font-family: pn;
			position: absolute;
			right: 465px;
			bottom: 0px;
		}
	}
}

#recipes {
	text-align: center;
	margin-bottom: 75px;
	
	h1 {
		// font-family: pna;
		color: $primary_blue;
	}

	h4 {
		font-size: 13px;
		font-family: pn;
		color: grey;
		display: inline-block;
	}


	p {
		font-family: pn_bold;
		font-weight: bold;
		color: grey;
		margin-bottom: 5px;	
	}

	p:hover {
		font-family: pn_bold;
		font-weight: bold;
		color: lightblue;	
		margin-bottom: 5px;	
	}

	.view_all {

		a {
		font-family: pn;
		color: $primary_blue;
		}
	}
}


#franchise {
	text-align: center;
	background-image: url(../assets/franchise-background.jpg);
	padding-bottom: 100px;
	margin-bottom: 20px;

	h1 {
		// font-family: pna;
		padding-top: 50px;
		padding-bottom: 50px;
		color: white;
	}

	p {
		font-family: pn_bold;
		padding-bottom: 50px;
		color: white;
	}
}

#blog {
	text-align: center;
	margin-bottom: 80px;

	h4 {
		font-size: 13px;
		font-family: pn;
		color: grey;
		display: inline-block;
	}

	h1 {
		// font-family: pna;
		color: $primary_blue;
	}

	.row {
		margin-bottom: 50px;
	}

	p {
		font-family: pn_bold;
		font-weight: bold;
		color: black;
	}

	a {
		margin-top: 50px;
	}

	.view_all {

		a {
		font-family: pn;
		color: $primary_blue;
		}
	}
}

#community {
	text-align: center;

	h4 {
		font-size: 13px;
		font-family: pn;
		color: grey;
		display: inline-block;
		
	}

	h1 {
		// font-family: pna;
		color: $primary_blue;
	}
}


#community .large-6 {
	padding: 0px;
}

#community .large-3 {
	padding: 0px;
	margin-bottom: -40px;
}

#orbit .row {
	padding-top: 25px;
}

#orbit .orbit-image {
/*	min-width: 115px;
	min-height: 115px;*/
	max-width: 115px;
	max-height: 115px;
}

#orbit .orbit-caption {
	background-color: #fff;
	color: black;
	padding: 5px;
	text-align: left;
}


#newsletter {
	text-align: center;
	background-image: url(../assets/newsletter-background.jpg);
	min-height: 362px;
	margin-left: -15px;

	h1 {
		// font-family: pna;
		color: white;
	}

	input {
		display: inline-block;
		width: 350px;
	}
	
	.large-6{
		margin: 0px 20px 0px 20px;
	}
}


#stockist {
	background-image: url(../assets/stockist-background.jpg);
	text-align: center;
	padding-bottom: 75px;
	min-height: 400px;

	h1 {
		// font-family: pna;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	p {
		font-family: pn;
		color: white;
	}

	.button:hover {
		color: white;
		background-color: transparent;
	}
}

// .flex-container {
// 	display: -webkit-flex;
//     display: flex;
//     -webkit-justify-content: space-around;
//     justify-content: space-around;
//     /*background-color: lightgrey;*/
//     margin: 10px;
// }

// .flex-container-vcenter {
// 	display: -webkit-flex;
//     display: flex;
//   	align-items: center;
//   	justify-content: center;
// }

// .flex-item {
//   background-color: cornflowerblue;
//     width: 100px;
//     height: 100px;
//     margin: 10px;
// }

// .flex-item-vcenter .whiteWrapper {
// 	padding: 0px 15px 0px 15px;
//   	max-width: 100%;
// }


// .flex-container-wrap {
// 	display: -webkit-flex;
// 	-webkit-flex-wrap: wrap;
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0px;
// }

// .flex-image-small img {
//     max-width: 712px;

// }

// .flex-image-large img {
//     max-width: 707px;
// }






footer {
	margin-top: 20px;

	img {
		padding-right: 15px;
		padding-bottom: 15px;
		float: right;
	}

	.row {
		text-align: left;
	}

	.icon-melfacbook {
		color: blue;
		text-align: center;
		font-size: 25px;
		padding-right: 15px;
	}

	.icon-meltwitter {
		color: turquoise;
		text-align: center;
		font-size: 25px;
		padding-right: 15px;
	}

	.icon-melpinterest {
		color: red;
		text-align: center;
		font-size: 25px;
		padding-right: 15px;

	}

	.icon-instagram_1 {
		color: blue;
		text-align: center;
		font-size: 25px;
		padding-right: 15px;

	}
	
	.icon-instagram_2 {
		text-align: center;
		font-size: 25px;
		padding-right: 15px;

	}


	h3 {
		font-family: pn_bold;
		float: left;
	}
	
	ul {
		float: left;
		li {
			a {
			font-family: pn;
			color: grey;
			}
		}
	}

	.icon-melphone {
		color: blue;
		padding-right: 25px;

	}

	.icon-melemail {
		color: blue;
		padding-right: 25px;
	}

	.icon-mellocator {
		color: blue;
		padding-right: 25px;
	}

	.icon-melfranchise {
		color: blue;
		padding-right: 25px;
	}

}

